html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #fff;
    background-color: #cccccc;
}

#page-title {
    font-size: 22px;
    text-align: center;
    background-color: #ce911f;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: inherit;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.material.icons {
    font-family: "Material Icons";
}

.hidden {
    display: none;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px;
}

.container {
    padding: 20px 0 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 85%;
}

#add-book-form-container {
    background-color: #666a72;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-book-form {
    width: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    font-size: 13px;
    line-height: 1.15;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    width: 90%;
}

input {
    font-family: inherit;
    background-color: #f0eecb;
}

input::placeholder {
    color: #313131;
    opacity: 1;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

#is-read {
    margin: 0 0 0 10px;
}

button[type="submit"] {
    font-family: inherit; /* 1 */
    background-color: #8054a3;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
}

#available-books-container {
    background-color: #3f5fb1;
    padding-left: 15px;
    padding-right: 15px;
}

#books-tiles-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book-tile {
    width: 100%;
    font-size: 13px;
    background-color: #afafaf;
    color: #4f4f4f;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.book-tile-read {
    background-color: #f0eecb;
    color: #313131;
}

.book-tile > p {
    margin: 0;
    line-height: 1.6;
}

.book-tile > p:first-child {
    font-style: italic;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.delete-button {
    cursor: pointer;
}

.delete-button:hover {
    color: #762323;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3a3a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.switch-input:checked + .slider {
    background-color: #019260;
}

.switch-input:focus + .slider {
    box-shadow: 0 0 1px #019260;
}

.switch-input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
